{% extends "layout.html" %}

{% block page_title %}
  Testing bold
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Testing bold 
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
<p>
      (bold element) Under new <b>government regulations published today</b>, trustees will be required to produce a policy which includes an assessment of the sustainability of their investment decisions.
</p>
<p>
      (em element) This policy will need to be <em>available to members</em> so that they can make their own assessment of efforts to combat various risks, including climate change, poor corporate governance and socially harmful practices.
</p>
<p>
      (strong element) The government is <strong>bringing forward reforms</strong> to take account of how people put their values at the heart of the things they choose to buy, the places they live and visit, and the jobs they do. They care about the impact that their choices have on our environment and humankind.
</p>
<p>
      Under these proposals pension scheme members will be able to see how their money is being put to work, and to make their views heard. Defined contribution schemes will need to make this policy available to the wider public. More than £1.5 trillion is invested by occupational pension schemes on behalf of millions of savers across the UK and an additional £40 billion was invested in 2016/17 and under automatic enrolment.
</p>
      <h2>Prototype kit info</h2>
      <p>
        <a class="button" href="start-page">Start prototype</a>
      </p>

      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
